<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= title %></title>
    <style>
        body {
            color: #666;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            background: #FFF;
            margin: 0px;
            padding: 0px;
        }
        html, body {
            width: 100%;
            height: 100%;
        }
        a {
            text-decoration: underline;
            color: #000;
        }
        a:hover {
            text-decoration: none;
        }
        .wrap {
            padding-top: 7%;
        }
        .error {
            font-size: 22px;
            color: #666;
            margin: 20px 20px;
            text-align: center;
        }
        .error span {
            color: #000;
        }
        .download {
            margin-top: 20px;
            text-align: center;
        }
        .download a {
            display: inline-block;
            width: 150px;
            height: 20px;
            text-align: center;
            padding-top: 150px;
        }
        .download .firefox {
            background: url('/images/badbrowser/firefox.jpg') no-repeat top center;
        }
        .download .chrome {
            background: url('/images/badbrowser/chrome.jpg') no-repeat top center;
        }
        .download .opera {
            background: url('/images/badbrowser/opera.jpg') no-repeat top center;
        }
        .download .ie {
            background: url('/images/badbrowser/edge.jpg') no-repeat top center;
        }
        .download .safari {
            background: url('/images/badbrowser/safari.jpg') no-repeat top center;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="error"><%- message %></div>
    <div class="download">
        <a class="firefox" href="https://www.mozilla.org/" target="_blank">FireFox</a>
        <a class="chrome" href="https://www.google.com/chrome/" target="_blank">Chorome</a>
        <a class="opera" href="https://www.opera.com/" target="_blank">Opera</a>
        <a class="safari" href="https://www.apple.com/safari/" target="_blank">Safari</a>
        <a class="ie" href="https://www.microsoft.com/edge" target="_blank">Microsoft Edge</a>
    </div>
</div>
</body>
</html>
