<a class="btn-market btn-outline btn-apple me-3 mb-3" href="#" target="_blank">
    <span class="btn-market-subtitle"><%= this.__('app-store') %></span>
    <span class="btn-market-title">App Store</span>
</a>
<a class="btn-market btn-outline btn-google me-3 mb-3" href="#" target="_blank">
    <span class="btn-market-subtitle"><%= this.__('google-play') %></span>
    <span class="btn-market-title">Google Play</span>
</a>
<a class="btn-market btn-outline btn-huawei mb-3" href="#" target="_blank">
    <span class="btn-market-subtitle"><%= this.__('app-gallery') %></span>
    <span class="btn-market-title">AppGallery</span>
</a>
