<section id="groups" class="container-fluid bg-light">
    <div class="container py-2">
        <div class="groups">
            <main>
                <div id="group-buttons" class="buttons pb-2">
                    <% groups.forEach(group => { %>
                        <a href="#group-<%= group.id %>" class="btn btn-outline-primary rounded-pill"
                           data-scroll data-groupid="<%= group.id %>"><%= group.name %></a>
                    <% }) %>
                </div>
            </main>
        </div>
    </div>
</section>
